

<h1>You are: <%= @user.name %> </h1>
<h1>Posts: </h1>

<ul>
  <% @user.posts.each do |post| %>
    <li><%link_to post.post_title, post_path%></li> 
  <% end%>
</ul>

<%= link_to "<--Back", users_path %>